/*structure*/
.st-container{

}


/*body*/
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;

}
/*text*/
.text-Title-bg{
  font-size: 72px;
  line-height: 72px;
  text-transform: uppercase;
  font-weight: bold;
}
.text-SubTitle{
  font-size: 35px;
  line-height: 35px;
  text-transform: uppercase;
  font-weight: bold;
  color: #aaaaaa;
}
.text-description{
  font-size: 14px;
  font-weight: bold;
  line-height: 1.42857143;
  color: #333;
}
.text-md{
  font-size: 18px;
  font-weight: bold;
}
.text-sm{
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

.text-Color-white{
  color: #ffffff;
}
.text-Color-black{
  color: #000;
}
.text-Color-grey{
  color: #aaaaaa;
}
.text-Color-green{
  color: #55b49c;
}
/*hr*/
.hr-sm{
  display: inline-block;
  background-color: #55b49c;
  width: 50px;
  height: 10px;
  border: none;
}
/*header*/
.header{

}
.header-Title{
  position: absolute;
  top: 30px;
  left: 20px;
  right: auto;
}
.nav{
  position: absolute;
  top: 20px;
  right: 20px;
  left: auto;
}

/*intro*/
.intro{
  width: 1100px;
  position: relative;
  margin: 180px auto 0;
}
.intro-Text_Block{
  width: 400px;
}
.intro-Title{

}
.intro-Text_Lead{

}
.intro-Text_Description{

}
.intro-Slider{
  position: absolute;
  top: 0;
  right: 0;
}
.intro-Hero{
  width: 720px;
  height: 540px;
  margin: 0;
  float: right;
}
.intro-Hero_Image{
  width: 100%;
  height: 100%;
}
/*.sns*/

