*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

 ### WordPress ###
*.log
/public_html/"xa-kakeshita"/*
!/public_html/"xa-kakeshita"/readme.html
!/public_html/"xa-kakeshita"/wp-config.dist

/public_html/wp-content/*
!/public_html/wp-content/themes
/public_html/wp-content/themes/*
!/public_html/wp-content/themes/"project_themes_name"
/public_html/wp-content/themes/project-theme-name/css/site.css.map
