global:
  sql_adapter: "default"

local:
  vhost: "http://maniemanani.local:8080/"
  wordpress_path: "/path/to/project/public_html/wp-mnmn" # use an absolute path here

  database:
    name: "maniemani_wp"
    user: "root"
    password: "root"
    host: "localhost"

  paths: # you can customize wordpress internal paths
    wp_content: "../wp-content"
    uploads: "../wp-content/uploads"
    plugins: "../wp-content/plugins"
    themes: "../wp-content/themes"
    languages: "../wp-content/languages"

staging:
  vhost: "http://xearts-officialsite.xearts.jp"
  wordpress_path: "/home/xearts/xearts.jp/public_html/xearts-officialsite/wp-xearts-officialsite" # use an absolute path here

  database:
    name: "xearts_officialsite"
    user: "xearts_user"
    password: "xearts6646"
    host: "mysql5001.xserver.jp"
    charset: "utf8"

  paths: # you can customize wordpress internal paths
    wp_content: "../wp-content"
    uploads: "../wp-content/uploads"
    plugins: "../wp-content/plugins"
    themes: "../wp-content/themes"
    languages: "../wp-content/languages"

  exclude:
    - ".git/"
    - ".gitignore"
    - ".sass-cache/"
    - "bin/"
    - "tmp/*"
    - "Gemfile*"
    - "Movefile*"
    - "wp-config.php"
    - "wp-content/*.sql"

  ssh:
    host: "xearts.xsrv.jp"
    user: "xearts"
    port: 10022 # Port is optional
    rsync_options: "--verbose" # Additional rsync options, optional


production:
  vhost: "https://www.maniemani.jp"
  wordpress_path: "/home/design2mm/nurikae.tv/public_html" # use an absolute path here

  database:
    name: ""     #Change Me
    user: ""     #Change Me
    password: ""      #Change Me
    host: "" #Change Me
    charset: "utf8"

  exclude:
    - ".git/"
    - ".gitignore"
    - ".sass-cache/"
    - "bin/"
    - "tmp/*"
    - "Gemfile*"
    - "Movefile*"
    - "wp-config.php"
    - "wp-content/*.sql"
    - ".htaccess"

#  ssh:
#    host: "design2mm.xsrv.jp"
#    user: "design2mm"
#    port: 10022
#   rsync_options: "--verbose"